@model Data.Models.PageModel
@{
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
    ViewBag.Title = "Website Pages";
}

<div class="content-wrapper">
   
    <div class="content" style="padding-top:10px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                Right click on the desired page to open it's menu
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0 d-inline-block" id="hPageName">Page: @Model.Name</h5>
                            <a href="@Url.Content("~/Pages/Edit/"+Model.Id)" id="aEdit" class="btn btn-primary float-right">Edit</a>
                        </div>
                        <div class="card-body">
                            <div id="ifrpage">

                            </div>
                        </div>
                        @{
                            if (Model.isList == true)
                            {
                                <div class="card-body">
                                    <div id="isListDv">
                                        @Html.Action("_PageIsList", "Pages")
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            Viewpagecontent(@Model.Id);
        });
        function Viewpagecontent(id) {
            var pagemodify = @ViewBag.pagemodify;
            if (pagemodify != null && pagemodify == 1) {
                return;
            }
            $.ajax({
                url: "@Url.Content("~/Pages/_GetPagesContent")",
                type: "POST",
                dataType: 'json',
                data: { id: id },
                beforeSend: function () {
                    Pace.start();
                },
                success: function (response) {
                    Pace.stop();                 
                    $("#ifrpage").html(response.data);
                    $(".nav-link.active").removeClass("active");
                    setTimeout(function () {
                        if (id !=@Data.Common.Sitesettings.RootPageId) {
                            highlightTreemenu("#apage" + id);
                        }                        
                    }, 100);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
    </script>
}

