@model Data.Models.AdminGroupModel
@{
    ViewBag.Title = "Create Group";
}

<div class="content-wrapper fixerrormsg">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Edit group: @Model.GroupName</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Content("~/Admin")">Users</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Content("~/AdminRoles")">Users group</a></li>
                        <li class="breadcrumb-item active">Edit group</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">

        @using (Html.BeginForm("Edit", "AdminRoles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Error updating group, Check your info!", new { @class = "text-danger" });

            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Content Details</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        @Html.LabelFor(m => m.GroupName, new { @class = "" })
                                        <div class="form-input">
                                            @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control ", autocomplete = "off" })
                                            @Html.ValidationMessageFor(u => u.GroupName, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        @Html.LabelFor(m => m.Roles, new { @class = "" })
                                        <div class="Roles row">
                                            @Html.Action("_RolesPermissions", "AdminRoles", new { isEdit = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    @Html.ActionLink("Cancel", "Index", "AdminRoles", new { }, new { @class = "btn btn-secondary" })
                </div>
            </div>
        }



    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        highlightmenu("#ausers");        
    </script>
}