@model Data.Models.AlbumModel
@{
    ViewBag.Title = "Edit  Album";
    Layout = "~/Views/Shared/_AlbumsLayout.cshtml";
}

<div class="content-wrapper fixerrormsg">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Edit  Album: @Model.Title</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Content("~/Album/Index")"> Album</a></li>
                        <li class="breadcrumb-item active">Edit  Album</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        @using (Html.BeginForm("Edit", null, FormMethod.Post, new { id = "frm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "text-danger" });
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Content Details</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">

                                        @Html.LabelFor(m => m.Title, new { @class = "" })
                                        <div class="form-input">
                                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control ", autocomplete = "off" })
                                            @Html.ValidationMessageFor(u => u.Title, null, new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    @{
                                        if (Model.Id != Models.Common.Sitesettings.RootAlbumId)
                                        {
                                            <div class="col-6">
                                                @Html.LabelFor(m => m.DisplayOrder, new { @class = "" })
                                                <div class="form-input">
                                                    @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control ", autocomplete = "off", @type = "number" })
                                                    @Html.ValidationMessageFor(u => u.DisplayOrder, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(x => x.DisplayOrder);
                                        }
                                    }



                                </div>

                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        @Html.LabelFor(m => m.Description, new { @class = "" })
                                        <div class="form-input">
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control ck", autocomplete = "off" })
                                            @Html.ValidationMessageFor(u => u.Description, null, new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="col-6">
                                        @Html.LabelFor(m => m.VideoFile, new { @class = "" })
                                        <div class="form-input">
                                            @Html.TextBoxFor(model => model.VideoFile, new { @class = "form-control ", autocomplete = "off" })
                                            @Html.ValidationMessageFor(u => u.VideoFile, null, new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>
                            </div>
                            @{
                                if (Model.Id != Models.Common.Sitesettings.RootAlbumId)
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-6">
                                                @Html.LabelFor(m => m.IsHidden)
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(model => model.IsHidden, new { id = "chkisHidden", @class = "custom-control-input ", autocomplete = "off" })
                                                    <label for="chkisHidden" class="custom-control-label">Yes</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else {
                                    @Html.HiddenFor(x => x.IsHidden);
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Media Content</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">

                                        @Html.LabelFor(m => m.Image, new { @class = "" })
                                        <div class="form-input">
                                            <input type="hidden" id="Image" name="Image" value="@Model.Image" />
                                            <input id="Image" name="Image" value="@Model.Image" type="file" accept="image/*" data-target="previewImage" />
                                            <img id="previewImage" src="@Model.Image" width="100%" style="display:block; margin-top:15px" alt="" />
                                            @Html.ValidationMessageFor(model => model.Image, null, new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <button type="submit" class="btn btn-success">Save changes</button>
                    &nbsp;
                    <a href="@Url.Content("~/Album/ItemListing?albumid="+Model.Id)" class="btn btn-info">Album items</a>
                    &nbsp;
                    <a href="@Url.Content("~/Album/Index/"+Model.Id)" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        }
        <br />
    </section>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
       var id = "#apage" +@Model.Id;
            setTimeout(function () {
                highlightTreemenu(id);
            }, 200);
    </script>
}
