@model List<Data.Models.AlbumItemsModel>
@{
    ViewBag.Title = "Album Items";
    Layout = "~/Views/Shared/_AlbumsLayout.cshtml";
}
@{
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Album Items: @ViewBag.AlbumName</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="@Url.Content("~/Home/Index")">Home</a></li>
                            <li class="breadcrumb-item active">Album Items</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                @if (TempData["Success"] != null)
                {
                    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                }
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Page Filters</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @using (Html.BeginForm("ItemListing", "Album", FormMethod.Get))
                    {
                        <input type="hidden" name="albumid" value="@ViewBag.Albumid" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Search by Title</label>
                                        <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="Title" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <select data-value="@ViewBag.Typeid" name="Type" class="form-control" id="ddType">
                                            <option value="0">Type</option>
                                            <option value="image">Image</option>
                                            <option value="video">Video</option>
                                            <option value="file">File</option>
                                            <option value="youtube">Youtube video</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Content("~/Album/Index/"+ViewBag.Albumid)" title="Back to album" class="btn btn-secondary">Back</a>
                            <button type="submit" class="btn btn-primary" title="Filter items">Filter</button>
                            <a href="@Url.Content("~/Album/CreateAlbumItem?albumid="+ViewBag.Albumid)" title="Add new item" class="btn btn-success">Add Item</a>

                        </div>
                    }

                </div>
                <section class="content">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> Album Items</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            @{
                                WebGrid grid = new WebGrid(rowsPerPage: ViewBag.rowsPerPage, canSort: false);
                                grid.Bind(Model, autoSortAndPage: false, rowCount: ViewBag.rowCount);
                                @grid.GetHtml(tableStyle: "table table-striped", footerStyle: "table-pager",
mode: WebGridPagerModes.All,
firstText: "<< First",
previousText: "< Prev",
nextText: "Next >",
lastText: "Last >>",
columns: grid.Columns(
grid.Column(columnName: "Title", header: "Title"),
grid.Column( header: "Type", format: (item) =>new HtmlString("<span>"+Data.Common.Utilities.FirstCharToUpper(item.ItemType)+"</span>")),
grid.Column(header: "Image", format: (item) => !string.IsNullOrWhiteSpace(item.Image) ? new HtmlString("<img src='" + item.Image + "' width='75' height='75' />") : new HtmlString("-")),
grid.Column(columnName: "Description", header: "Description"),

grid.Column(header: "Visiblity", format: (item) => (bool)item.isHidden ? new HtmlString("<a href='" + Url.Action("PublishItems", "Album", new { id = item.id }) + "'  >Show</a>") : new HtmlString("<a href='" + Url.Action("PublishItems", "Album", new { id = item.id }) + "' >Hide</a>")),
grid.Column(header: "Move", format: (item) => new HtmlString("<a class='arrowup btn btn-action editbtn'  href='" + Url.Content("~/Album/MoveUpItem/" + item.Id) + "'><i class='fa fa-arrow-up'></i></a>" + " " +
"<a class='arrowdown btn btn-action dltBtn'  href='" + Url.Content("~/Album/MoveDownItem/" + item.Id) + "'><i class='fa fa-arrow-down'></i></a>")),
grid.Column(header: "", format: (item) => new HtmlString(
"<a class='btn btn-info btn-sm' title='Edit record' href='" + Url.Action("EditAlbumItem", "Album", new { ID = item.ID }) + "'> <i class='fas fa-pencil-alt'>  </i></a>" + " " +
"<a  title='Delete record' class='modalLink btn btn-danger  btn-sm' data-id='" + item.Id + "' data-target='#deleteRow' data-toggle='modal' href='javascript:;'><i class='fa fa-trash ' aria-hidden='true'></i></a>"))
));
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteRow" tabindex="-1" role="dialog" aria-labelledby="deleteRowLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRowLabel">Ready to Delete?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Delete" below if you are sure you want to delete this record.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a href="@Url.Action("DeleteItem", "Album", new { })" class="btn btn-primary deleteSlider">Delete</a>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var id = "#apage" +@ViewBag.Albumid;
            setTimeout(function () {
                highlightTreemenu(id);
            }, 100);
            
            var ddType = $("#ddType");
            if (ddType.data("value") != null && ddType.data("value") != "") {
                ddType.val(ddType.data("value"));
            }
        });


        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            $(".modal-footer .deleteSlider").attr("href", "@Url.Content("~/Album/DeleteItem/")" + passedID )
        });

    </script>
}