<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["WebsiteName"]</title>
    <link rel="icon" type="image/png" href="~/favicon.ico" sizes="16x16" />
    <link href="@Url.Content("~/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/fontawesome-all.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.css")" rel="stylesheet">
    <link href="@Url.Content("~/vendor/daterangepicker/daterangepicker.css")" rel="stylesheet">
    <link href="@Url.Content("~/vendor/pace-progress/themes/black/pace-theme-flat-top.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/plugins.css")" rel="stylesheet" />

    @RenderSection("CSS", false)
    <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
</head>
<body class="sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-dark">
            @Html.Action("_PagesMenu", "Pages")
            @Html.Action("NotificationsPartialView", "Home")
        </nav>
        @Html.Action("_PagesTree", "Pages")
        @RenderBody()
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year
        </footer>
    </div>
    @Html.Action("_Logout", "Account")
    <!-- ./wrapper -->

    <script src="@Url.Content("~/vendor/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/vendor/jquery-easing/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/vendor/jquery/jquery-ui.js")"></script>
    <script src="@Url.Content("~/vendor/moment/moment.min.js")"></script>
    <script src="@Url.Content("~/vendor/inputmask/min/jquery.inputmask.bundle.min.js")"></script>
    <script src="@Url.Content("~/vendor/daterangepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/vendor/pace-progress/pace.min.js")" data-pace-options='{ "startOnPageLoad": false }'></script>
    <script src="@Url.Content("~/js/plugins.js")"></script>
    <script src="@Url.Content("~/js/functions.js")"></script>
    <script src="@Url.Content("~/js/admin.js")"></script>
    @RenderSection("Scripts", false)

    <script type="text/javascript">
        BindPagesTree();
        function BindPagesTree() {
            $.ajax({
                url: "@Url.Content("~/Pages/_BindPagesTree")",
                type: "POST",
                dataType: 'json',
                data: {},
                beforeSend: function () {
                     Pace.start();
                },
                success: function (response) {
                      Pace.stop();
                  var t =  DrawTree(response.data);
                    $("#ulPages").html(t);
                    setTimeout(function () {
                        BindContextMenu();
                        Collpsetreeview();
                        Inittreesearch();
                    }, 100);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }

        function DrawTree(data) {
            var html = ''; // Wrap with div if true
            for (item in data) {
                var opentree = data[item].Id == 1 ? "menu-is-opening menu-open" : "";
                if (typeof (data[item].ChildNodes) === 'object' && data[item].ChildNodes.length > 0) { // An array will return 'object'
                    html += "<li class='nav-item has-treeview position-relative "+opentree+"' >";
                    html += GetLi(data[item]);
                    html += " <ul class='nav nav-treeview'>";
                    if (!data[item].isList) {
                        html += DrawTree(data[item].ChildNodes, true); // Submenu found. Calling recursively same method (and wrapping it in a div)
                    }
                    html += "</ul>";
                    html += '</li>';
                }
                else {
                    html += "<li class='nav-item' >";
                    html += GetLi(data[item]);
                    html += '</li>';
                }

            }
            return html;
        }
        function GetLi(item) {
            var id = "apage" + item.Id;
            var parentid = "apage" + item.ParentId;
            var hschild = item.ChildNodes.length > 0
            var ishidden = item.isHidden ? "red" : "green";
            var isList = item.isList;
            var haschild2 = hschild && !isList ? "<i class='right fas fa-angle-left'></i>" : "";

            var editlink = "@Url.Content("~/Pages/Index/")" + item.Id;
            var contentlink = "@Url.Content("~/Pages/Index/")" + item.Id;
            var addlink = "@Url.Content("~/Pages/SelectTemplate/")" + item.Id;
            var hideunhideurl = "@Url.Content("~/Pages/_HideUnhide/")" + item.Id;
            var moveupurl = "@Url.Content("~/Pages/MoveUp/")" + item.Id;
            var movedownurl = "@Url.Content("~/Pages/MoveDown/")" + item.Id;
            var photogalleryurl = "@Url.Content("~/PagesGallery/Index/")" + item.Id;
            var editcontenttypelink = "@Url.Content("~/Pages/_EditContentType/")" + item.Id;
          
            var isFolder = hschild;
            var html = "<a  class='nav-link' data-tooltip='#tooltip_content" + id + "' id='" + id + "' data-tree='#" + parentid + "' data-contextmenu "
                + " data-id='" + item.Id + "' "
                + " data-tpid='" + item.PageTemplateID + "' "
                + " data-friendlyurl='" + item.FriendlyUrl + "' "
                + " data-editlink='" + editlink + "' "
                + " data-editcontenttypelink='" + editcontenttypelink + "' "
                + " data-addlink='" + addlink + "' "
                + " data-hideunhideurl='" + hideunhideurl + "' "
                + " data-photogalleryurl='" + photogalleryurl + "' "
                + " data-moveupurl='" + moveupurl + "' "
                + " data-movedownurl='" + movedownurl + "' "
                + "> ";
            if (isList) {
                html += "<i class='nav-icon far fas fa-table " + ishidden + "'></i>"
            }
            else {
                html += isFolder ? "<i class='nav-icon far fas fa-folder " + ishidden + "'></i>" : "<i class='nav-icon far fas fa-file " + ishidden + "'></i>";
            }

            html += "<p>" + item.Name + (isList ? " (" + item.ChildNodes.length + ")" : "") + haschild2  +"</p>"
                + "</a>";
            //draw tooltip

            //html += "<div style='display:none;' id='tooltip_content" + id + "'>"
            //    + "<b>Id</b>: " + item.Id + "<br/>"
            //    + "<b> Index</b >: " + item.MenuOrder + "<br/>"
            //    + " <b>Name</b>: " + item.Name + "<br/>"
            //    + " <b>Template</b>: " + item.mPageTemplate.Name+ "<br/>"
            //    + " <b>Friendly Url</b>: " + item.FriendlyUrl
            //    + "</div>";
            return html;
        }
        function BindContextMenu() {
            $("a[data-contextmenu]").each(function (item) {
                var id = $(this).data("id");
                var ctpid = $(this).data("tpid");
                $(this).on('contextmenu', function (e) {
                    e.preventDefault();
                    //Add contextual menu here
                    new Contextual({
                        isSticky: false,
                        items: [
                            { label: '<i class="fa fa-plus-square"></i><span class="title">Add new page</span>', icon: '', onClick: () => { window.location.href = this.dataset.addlink; } },
                            (ctpid == 0 ? {} : { label: '<i class="fa fa-eye" aria-hidden="true"></i><span class="title">View page</span>', icon: '', onClick: () => { window.open(this.dataset.friendlyurl, "_blank"); } }),
                            { label: '<i class="fa fa-edit"></i><span class="title">Edit page content</span>', icon: '', onClick: () => { window.location.href = this.dataset.editlink; } },
                            { label: '<i class="fa fa-edit"></i><span class="title">Edit content type</span>', icon: '', onClick: () => { window.location.href = this.dataset.editcontenttypelink; } },

                            { label: '<i class="fa fa-images" aria-hidden="true"></i><span class="title">Photo gallery</span>', icon: '', onClick: () => { window.location.href = this.dataset.photogalleryurl; } },
                            { label: '<i class="fa fa-arrow-up" aria-hidden="true"></i><span class="title">Move up</span>', icon: '', onClick: () => { window.location.href = this.dataset.moveupurl; } },
                            { label: '<i class="fa fa-arrow-down" aria-hidden="true"></i><span class="title">Move down</span>', icon: '', onClick: () => { window.location.href = this.dataset.movedownurl; } },
                            { label: '<i class="fa fa-ban" aria-hidden="true"></i><span class="title">Hide/Unhide page</span>', icon: '', onClick: () => { window.location.href = this.dataset.hideunhideurl; } }
                        ]
                    });
                });
            });

            //$('.darktooltip').darkTooltip({
            //    animation: 'flipIn',
            //    gravity: 'north',
            //    theme: 'light'

            //});
        }

    </script>
</body>
</html>
























