<!-- Navbar Start -->
<div class="container-fluid sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a href="/" class="navbar-brand">
                <h2 class="text-white">Hairnic</h2>
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link active">Products</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu bg-light mt-2">
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>                            
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <a href="" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Shop Now</a>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
<!-- Hero Start -->
<div class="container-fluid bg-primary hero-header mb-5">
    <div class="container text-center">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Products</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>                
                <li class="breadcrumb-item text-white active" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Hero End -->

@*<header>

    <div class="mainMenu">
        @{
                if (Model.languagesL != null && Model.languagesL.Count > 0)
                {
                        <div class="languageHolder">
                            <span id="splang">@Model.selectedlangName</span>
                            <ul>
                                @{
                                    foreach (var item in Model.languagesL)
                                    {
                                        if (item.Name != "Greek")
                                        {
                                            string activecls = item.ID == Model.selectedlangid ? "active" : "";
                                            <li class="@activecls"><a href="javascript:;" data-culture="@item.Culture" data-id="@item.ID" onclick="switchLanguge(this)">@item.Name</a></li>
                                        }
                                    }
                                }

                            </ul>

                        </div>
                }
            }

        <div class="listMenu">
            <ul>
                <li id="ahome"><a href="@Url.Content("~/Home/Index")">@Resources.Website.Home </a></li>
            </ul>
        </div>
    </div>
    <div class="clearBoth"></div>
</header>*@
@*<script type="text/javascript">
        function switchLanguge(sender) {
            var langCulture = $(sender).data("culture");
            var url = "@Url.Content("~/Home/_switchLangauge")";
            $.ajax({
                type: "POST",
                url: url,
                data: { langCulture:langCulture },
                dataType: "json",
                success: function (d) {
                    window.location.reload(true);
                },
                error(xhr) { console.log(xhr); }
            });
        }
    </script>*@